SwissArmyTransformer>=0.2.12
icetk
apex
scipy
dataclass_wizard
cpm_kernels
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability